.footer_menu {
    text-align: center;
    padding-bottom: 40px;

    .Commander {
        color: $color_4;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        border-radius: 25px;
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        width: 186px;
        height: 50px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}