/* General styles */

$color_1: #333;
$color_2: black;
$color_3: #fff;
$color_4: white;
$color_5: #7E7E7E;
$color_6: #9356DC;
$color_7: #008766;
$color_8: green;
$font-family_1: 'Roboto', sans-serif;
$font-family_2: 'Roboto';
$font-family_3: 'Shrikhand', cursive;
$background-color_1: #9356DC;
$background-color_2: white;
$background-color_3: #333;
$background-color_4: #99E2D0;