/* General styles */


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.main-container {
    max-width: 1440px;
    margin: 0 auto;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

header .logo img {
    width: 200px;
}

/* Form */
form {
    display: flex;
    align-items: center;
    background: #EAEAEA;
    justify-content: center;
}

form .icon {
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

form input {
    border: 0;
    font-size: 16px;
    height: 50px;
    background: #EAEAEA;
    width: 125px;
    font-family: 'Roboto';
}

::placeholder {
    color: black;
    font-weight: bold;
    opacity: 1;
}

/* Reservez Section */
.reservez {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6F6F6;
    padding: 20px;
    gap: 30px;
}

.reservez h1 {
    font-size: 24px;
    margin: 0;
}

.reservez p {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.reservez .Explorer {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    background-image: linear-gradient(#FF79DA, #9356DC);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    width: 218px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Fonctionnement Section */
.Fonctionnement {
    margin: 40px 0px;
}

.Fonctionnement h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.Fonctionnement menu {
    display: flex;
    list-style: none;
    padding: 0;
    flex-direction: row;
}

.Fonctionnement menu li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: calc(33% - -5px);
}

.Fonctionnement .bubble {
    width: 24px;
    height: 24px;
    background-color: #9356DC;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    align-content: center;
    position: absolute;
    left: -10px;
    bottom: 25px;
}

.Fonctionnement .button {
    background: #F6F6F6;
    width: 322px;
    height: 72px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    font-size: 1.2rem;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.Fonctionnement .button i {
    font-size: 18px;
    margin: 15px;
    color: #9356DC;
}

/* Restaurants Section */
.Restaurants {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background: #f6f6f6;
    padding-bottom: 30px;
}

.Restaurants h3 {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
}

.Restaurants-cards {
    display: flex;
    flex-flow: wrap;
    column-gap: 100px;
    row-gap: 50px;
}

.Restaurants-cards a {
    width: calc(47% - 7px);
    text-decoration: none;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Restaurants-cards span {
    align-content: center;
    position: absolute;
    color: #008766;
    background: #99E2D0;
    height: 29px;
    width: 80px;
    border-radius: 2px;
    text-align: center;
    top: 10px;
    right: 10px;
}

.card img {
    display: block;
    height: 231px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
}

.card-txt {

    display: flex;

    flex-direction: column;

    gap: 5px;
}

.card-txt h4 {
    margin: 0;
    font-size: 18px;
    color: black;
}

.card-txt p {
    margin: 0;
    color: black;
    font-size: 18px;
    font-weight: 300;
}

.heart {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart *{
    font-size: 1.2rem;
    position: absolute;
}

.heart .fa-regular {
    display: block;
    
}

.heart .fa-solid {
    display: none;
    background: linear-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.heart:hover .fa-solid {
    display: block; 
}

.heart:hover .fa-regular {
    display: none;
}
/* Footer */
.footer {
    display: flex;
    flex-direction: row-reverse;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 65px;
    gap: 80px;
    padding-right: 65px;
}

.footer img {
    width: 100px;
    filter: invert(1);
}

.footer nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
    display: flex;
    gap: 13px;
}

.footer nav a i {
    width: 20px;
}

/* Mobile Responsive */
@media (max-width: 768px) {

    .main-container {
        max-width: 768px;
        padding: 0;
        gap: 2em;
    }

    .main-container header {
        display: flex;
        position: sticky;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px;
        height: 63px;
        z-index: 10;
    }

    .main-container header .logo {
        height: 36px;
    }

    form {
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
    }

    .Fonctionnement {
        display: flex;
        flex-direction: column;
        margin: 40px 0;
        padding: 0 20px;
    }

    .Fonctionnement menu {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 0 20px;
        width: 335px;
    }

    .Fonctionnement menu li {
        width: 100%;
    }

    .reservez {
        text-align: center;
        padding: 50px 20px;
    }


    .reservez .Explorer {
        height: 35px;
        border-radius: 35px;
    }

    .Restaurants {
        display: flex;
        flex-direction: column;
        padding: 60px 20px;
    }

    .Restaurants-cards {
        gap: 18px;
        display: flex;
        flex-direction: column;
    }

    .Restaurants-cards a {
        width: 100%;
        display: inline-block;
    }

    .card img {
        height: 174px;
        width: 340px;
    }

    .Restaurants-cards span {
        right: 10px;
        top: 10px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .footer img {
        width: 139px;
    }

    .footer nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
    }

}